<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title></title>
        <link rel="stylesheet" href="https://laravel-docker-production-0e9e.up.railway.app/css/tabler.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    </head>
    <body class="border-top-wide border-primary d-flex flex-column">
        <div class="page page-center">
            <div class="page page-center">
                <div class="container py-4">
                    <div class="empty">
                        <div class="empty-header">502</div>
                        <p class="empty-title">서버 오류가 발생했습니다.</p>
                        <p class="empty-subtitle text-muted">
                            죄송합니다. 서버에서 오류가 발생했습니다. 잠시 후 다시 시도해주세요.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://laravel-docker-production-0e9e.up.railway.app/js/tabler.min.js" defer=""></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
        <script src="https://laravel-docker-production-0e9e.up.railway.app/js/common.js" defer=""></script>
    </body>
</html>
